@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@700;900&display=swap');
@font-face {
    font-family: "Baron Neue";
    src: url("./../font/Baron Neue.otf") format("opentype");
    }
/* ============================================= Global ============================================= */
html,
body{
    height: 100%;
    overflow-x: hi;
}

body{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    font-family: 'Lato', sans-serif;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px
}

h1,h2,h3{
    font-family: 'Baron Neue';
}

h1, h2{
    @extend %title;
}
h3{
    @extend %third-title;
}