@import 'reset';
@import 'vars';
@import 'global';

/* ============================================== Стили ============================================== */
.header{
    &{
        padding: 80px 0 121px 0;
    }
    &__title{
        max-width: 527px;
        margin-bottom: 60px;
    }
    &__inner{
        background-color: #F4F5F5;
    }
    &__content{
        padding: 70px 0 74px 0;
        position: relative;
    }
    &__descr{
        display: flex;
        align-items: flex-start;
    }
    &__text{
        max-width: 319px;
        margin-left: 60px;
    }
    &__link{
        font-family: 'Baron Neue';
        font-size: 18px;
        display: none;
        color: #7A1B1B;
        border-bottom: 2px solid #7A1B1B;
    }
    &__photos{
        position: absolute;
        right: -120px;
        bottom: -49px;
    }
    &__small-photos{
        display: flex;
        margin-top: 30px;
    }
    &__small-photos a{
        position: relative;
    }
    &__small-photos a span{
        position: absolute;
        text-align: center;
        bottom: 33px;
        left: 0;
        right: 0;
        color: #fff;
        line-height: 20px;
    }
    &__small-photos a + a{
        margin-left: 31px;
    }
}

/* list */

.list{
    list-style: none;
    & li + li{
        margin-top: 30px;
    }
    &__term{
        font-size: 30px;
        font-weight: bold;
    }
    &__descr{
        margin-top: 6px;
        color: #777;
        font-size: 14px;
        line-height: 26px;
    }
    &__small{
        position: relative;
        line-height: 24px;
        font-size: 16px;
    }
    &__small span{
        position: absolute;
        top: -50%;
        right: -75%;
    }
}

/* main */

.main{
    &{
        padding: 80px 0;
        
    }
    &__inner{
        display: flex;
    }
    &__tabs{
        margin-top: 40px;
    }
    &__map-wrapper{
        flex-basis: 930px;
        height: 450px;
        margin-left: 89px;
    }
    &__map{
        position: relative;
        
        background-image: url('./../img/map.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
}

/* tab */

.tab{   
    cursor: pointer;
    & + &{
        margin-top: 16px;
    }
    border: 1px solid #C79791;
    border-radius: 20px;
    width: max-content;
    padding: 9px 16px 9px 20px;
    &__content{
        text-transform: uppercase;
        line-height: 26px;
        font-size: 11px;
    }
    &__count{
        color: #7A1B1B;
        margin-left: 7px;
        
        font-weight: bold;
    }
    &_active{
        background-color: #ce4c4c;
        color: #000;
    }
}

/* pointer */

.pointer{
    position: absolute;

    &__outside{
        background-color: rgba($color: #7A1B1B, $alpha: .3);
        width: 46px;
        height: 46px;
        position: relative;
    }
    &__inside{
        background-color: #C79791;
        width: 36px;
        height: 36px;
    }
    &__outside,
    &__inside{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__down{
        position: absolute;
        bottom: -2px;
        z-index: 1;
    }
    &_hide{
        opacity: .2;
    }
}

/* pointers */

#cart-1{
    top: 149px;
    left: 138px;
}
#cart-2{
    top: 108px;
    left: 358px;
}
#cart-3{
    top: 60px;
    right: 419px;
}
#cart-4{
    bottom: 101px;
    right: 169px;
}
#coffee-1{
    top: 91px;
    left: 185px;
}
#coffee-2{
    top: 166px;
    right: 286px;
}
#coffee-3{
    bottom: 56px;
    right: 259px;
}
#health-1{
    top: 146px;
    right: 433px;
}
#health-2{
    bottom: 28px;
    right: 377px;
}
#education-1{
    bottom: 179px;
    left: 128px;
}
#education-2{
    bottom: 132px;
    right: 66px;
}
#cinema-1{
    top: 201px;
    left: 216px;
}
#beauty-1{
    bottom: 143px;
    left: 273px;
}
#child-1{
    top: 185px;
    right: 377px;
}
#child-2{
    top: 87px;
    right: 352px;
}
#child-3{
    top: 58px;
    right: 220px;
}
#zoo-1{
    top: 176px;
    left: 403px;
}

/* footer */
.footer{
    padding: 80px 0;
    &__inner{
        overflow: hidden;
    }
    &__subtitle{
        margin-bottom: 40px;
    }
}


/* slider */

.slider{
    &{
        position: relative;
    }
    
    &__item{
        min-height: 252px !important;
        width: 313px !important;
        max-width: unset !important;
    }
    &__title{
        position: relative;
        margin-top: -30px;
        padding-top: 20px;
        background: #fff;
        text-transform: uppercase;
    }
    &__count{
        font-family: 'Baron Neue';
        font-weight: bold;
        font-size: 100px;
        line-height:normal;
        color: rgba($color: #7A1B1B, $alpha: .1);
    }
    &__text{
        margin: 16px 0 25px;
    }
    &__link{
        font-weight: bold;
        color: #7A1B1B;
    }
    &__next img{
        transform: rotateZ(180deg);
    }
    &__next,
    &__prev{
        top: -91px !important;
    }
    &__next{
        right: 0 !important;
    }
    &__prev{
        right: 40px !important;
        left: unset !important;
    }
    &__next::after,
    &__prev::after{
        content: '' !important;
    }
}
.swiper-button-disabled{
    opacity: 1 !important;
    cursor: pointer !important;
    pointer-events: all !important;
}

/* MEDIA */

@media (max-width: 1439px) {
    .header__photos{
        right: -30px;
    }
}
@media (max-width: 1280px) {
    .container{
        padding: 0 38px;
    }
    .header__content{
        text-align:left; 
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__photos{
        position: initial;
        width: 688px;
        transform: translateY(60px);
    }
    .header__descr{
        justify-content: center;   
        text-align: initial; 
    }
    .header__big-photo{
        width: 100%;
    }
    .header__link{
        display: inline-block;
        margin-top: 70px;
    }
    .main__inner{
        display: block;
    }
    .main__tabs{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
    }
    .main__tab + .main__tab{
        margin-top: 0;
    }
    .main__map-wrapper{
        margin-left: 0;
        max-width: 930px;
        margin: 30px auto 0 auto;
    } 
      
}
@media (max-width: 1030px) {
    .main__map-wrapper{
        max-width: 687px;
    }
    .main__map{
        background-size: cover;
    }
    #cart-1{
        top: 146px;
        left: 13px;
    }
    #cart-2{
        top: 105px;
        left: 233px;
    }
    #cart-3{
        top: 57px;
        right: 295px;
    }
    #cart-4{
        bottom: 104px;
        right: 51px;
    }
    #coffee-1{
        top: 88px;
        left: 60px;
    }
    #coffee-2{
        top: 163px;
        right: 168px;
    }
    #coffee-3{
        bottom: 59px;
        right: 141px;
    }
    #health-1{
        top: 143px;
        right: 315px;
    }
    #health-2{
        bottom: 31px;
        right: 256px;
    }
    #education-1{
        bottom: 182px;
        left: 3px;
    }
    #education-2{
        display: none; 
    }
    #cinema-1{
        top: 198px;
        left: 91px;
    }
    #beauty-1{
        bottom: 146px;
        left: 149px;
    }
    #child-1{
        top: 182px;
        right: 256px;
    }
    #child-2{
        top: 84px;
        right: 234px;
    }
    #child-3{
        top: 55px;
        right: 102px;
    }
    #zoo-1{
        top: 194px;
        left: 285px;
    }
}
@media (max-width: 768px) {
    .header__list li:last-child{
        display: none;
    }
    .header__text{
        margin-left: 117px;
    }
    .header__photos{
        width: 100%;
    }
    .header__content{
        padding-top: 50px;
    }
    .header__title{
        margin-bottom: 50px;
    }
    .header{
        padding: 60px 0 42px 0;
    }
    .main{
        padding: 60px 0;
    } 
    .footer{
        padding: 60px 0;
    }
    .footer__subtitle{
        margin-bottom: 90px;
    }
    .slider__prev,
    .slider__next{
        top: -31px !important;
    }
}
@media (max-width:767px) {
    .main__map-wrapper{
        overflow: scroll;
    }
    .main__map{
        width: 200%;
        height: 200%;
    }
}
@media (max-width: 660px) {
    .header__descr{
        flex-direction: column;
    }
    .header__text{
        margin-left: 0;
        margin-top: 35px;
    }
    .header__list{
        display: flex;
        flex-wrap: wrap;
        gap: 0 50px;
    }
    .header__list li + li{
        margin-top: 0;
        
    }
    .header__content{
        padding-top: 10px;
    }
    .header__list li{
        margin-top: 30px !important;
        width: max-content;
    }
}
@media (max-width: 375px) {
    .container{
        padding: 0 12px;
    }
    .header__link{
        margin-top: 45px;
    }
    .header__photos{
        transform: translateY(40px);
    }
    .header__text{
        margin-top: 35px;
    }
    .header__title{
        margin-bottom: 40px;
    }
    .header{
        padding: 40px 0;
    }
    .main{
        overflow-x: hidden;
        padding-bottom: 0;
    }
    .main__tabs{
        margin-top: 35px;
    }
    .main__map-wrapper{
        max-width: unset;
        width: 100vw;
    }
    .footer{
        padding: 40px 0 50px 0;
    }
}
